<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM2.5資訊</title>
    <style>
        body {
            text-align: center;
            background-color: antiquewhite;
        }

        table {
            width: 40%;
            margin: 0 auto;
        }

        th {
            background-color: aqua;
        }

        td {
            background-color: darkgoldenrod;
        }

        /* 響應式網頁 */
        /* 小畫面時90%，大畫面時40% */
        @media screen and (max-width:1024px) {
            table {
                width: 90%;
            }

        }
    </style>
</head>

<body>
    <h1>全省PM2.5資訊</h1>
    <h3>目前時間:{{datas["today"]}}</h3>
    <a href="/">回首頁</a>
    <a href="">重新讀取</a>

    <!-- 定時刷新頁面(前端JS) -->
    <div class="panel1">
        <!-- id 給前端判讀 -->
        <input type="checkbox" name="" id="check-reload">開啟
        <input type="number" id="reload-sec">秒數

        <!-- 前後端溝通 -->
        <!-- action 不特別寫就是在本頁 -->
        <form action="" method="POST">
            <!-- name 給後端判讀 -->
            <select name="sort" id="sort">
                <option value="true">升</option>
                <option value="false">降</option>
            </select>
            <button type="submit">排序</button>
        </form>

    </div>

    <table border="1">
        <thead>
            <tr>
                {% for th in datas["columns"] %}
                <th>{{th}}</th>
                {% endfor %}
            </tr>
        </thead>

        <!-- 雙迴圈 -->
        <tbody>
            {% for tr in datas["values"] %}
            <tr>
                {% for td in tr %}
                <td>{{td}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        <!-- {{datas["columns"]}} -->
        <!-- {{datas["values"]}} -->
    </table>

    <script>
        const checkReload = document.querySelector("#check-reload");
        const reloadSecond = document.querySelector("#reload-sec");
        const deleySecond = 30;

        // ctrl+h 取代文字
        // localStorage 本地儲存:除非清除，否則一直保存
        // sessionStorage 會話儲存:只存在現有會話中，會話關閉，則清除
        console.log(checkReload, reloadSecond);
        // console.log(checkReload.checked, reloadSecond.value);

        window.onload = function () {
            checkReload.checked = localStorage.getItem("checkReload") == "true";
            reloadSecond.value = localStorage.getItem("reloadSecond") ? localStorage.getItem("reloadSecond") : deleySecond;

            SetUpdateInterval();
        };

        checkReload.addEventListener("change", () => {
            console.log(checkReload.checked, reloadSecond.value);

            // 保留值，避免被刷新消失
            localStorage.setItem("checkReload", checkReload.checked);
            localStorage.setItem("reloadSecond", reloadSecond.value);

            SetUpdateInterval();

        });

        let IntervalId = null;

        function SetUpdateInterval() {
            if (checkReload.checked) {
                console.log("start reload!");
                let sec = Number(reloadSecond.value) * 1000;
                //取得對應ID 
                IntervalId = setInterval(() => {
                    window.location.reload();
                }, sec);
            } else {
                // 清除ID
                clearInterval(IntervalId);
            }

        }


    </script>


</body>

</html>