<!DOCTYPE html>
<!-- div.stocks => <div class="stocks"> -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>股市資訊</title>
    <style>
        body {
            text-align: center;
        }

        h1 {
            font-family: 標楷體;
        }

        .stocks {
            background-color: darkorange;
            margin: 6px auto;
            width: 250px;
            text-align: center;
            padding: 6px;
            color: white;
            border-radius: 6px;
            border: 1px rgb(0, 0, 0) solid;
        }
    </style>
</head>

<body>
    <h1>今年以來主要股市漲跌幅</h1>
    <a href="/stocks">重新整理</a>
    <!-- {{stocks}} -->
    {% if stocks %}

    {% for stock in stocks[1:] %}
    <div class="stocks">{{stock[0]}} {{stock[1]}}</div>
    {% endfor %}

    {% else %}
    <h2 style="color:red">系統忙碌中，請稍後再試</h2>
    {% endif %}
    <a href="/">回首頁</a>
</body>

</html>