<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Demo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <style>
        .box {
            width: 400px;
        }
    </style>
</head>

<body>
    <form action="" class="box">
        <div class="field">
            <label class="label" for="">帳號</label>
            <input class="input" type="text"><br>
        </div>
        <div class="field">
            <label class="label">密碼</label>
            <div class="control"></div>
            <input type="password" name="" id=""><br>
        </div>
        <input type="checkbox" name="" id="">記住我<br>
        <button>註冊</button>
        <button>取消</button>
    </form>



    <p class="is-size-1 has-text-info">Demo </p>
    <p class="is-size-2">Demo </p>
    <p class="is-size-3">Demo </p>
    <p class="is-size-4">Demo </p>
    <p class="is-size-5">Demo </p>
    <p class="is-size-6">Demo </p>
</body>

</html>